@import './nprogress.css';

@tailwind base;
@tailwind utilities;

html {
    font-size: 15px;
}

th {
    @apply font-normal text-left;
}

.link-active {
    position: relative;
}

.link-active:after {
    right: 0;
    border: solid 8px transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: theme('colors.gray.200');
    top: 50%;
    margin-top: -8px;
}

.button {
    @apply px-4 py-1 bg-purple-600 border border-purple-700 text-white rounded-sm;
    box-shadow: inset 0 1px #fff3, 0 1px 1px #0004;
}

.button:hover {
    @apply bg-purple-700 border-purple-800;
}
